pyodbc
fastapi
uvicorn[standard]
pydantic
azure-identity
flask-CORS
Flask
flask-jwt-extended
flask_session
pyaudio
numpy
Flask-SocketIO
pydub
librosa
scikit-learn
tensorflow
keras
pandas
keras-tuner
ffmpeg
imblearn
psycopg2
keras-preprocessing
SpeechRecognition
flask_bcrypt